textarea.monospace {
  font-family: 'Cutive Mono', serif;
}

textarea.wrap {
  white-space: pre;
  word-wrap: normal;
}

md-tabs .md-tabs-content .md-tab-content {
  height: 80%;
}

.reload {
  position: fixed;
  width: 100%;
  padding: 10px;
  background: yellow !important;
  opacity: 0.8;
  vertical-align: middle;
}
