<html>
  <head>
    <title>Text Sync</title>
    <link rel="stylesheet" href="/s/mt_docs.css">
    <link rel="stylesheet" href="/s/app.css">
    <link rel="stylesheet" href="/s/hotkeys.min.css">
    <link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-cookies.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-aria.min.js"></script>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="1e7x9cnd3mlnw7p"></script>
    <script src="/s/mt_docs.js"></script>
    <script src="/s/app.js"></script>
    <script src="/s/hotkeys.min.js"></script>
  </head>
  <body>
    <div ng-app="text-sync" ng-controller="appCtrl" layout="column" layout-align="start start">

      <md-toolbar md-theme="blue">
        <h1 class="md-toolbar-tools">
          Text Sync
          <md-button
              class="md-fab md-primary"
              md-theme="red"
              style="position: absolute; top: 36px; right: 18px;"
              aria-label="Add"
              ng-click="pickFiles()">
            <md-icon icon="/s/plus.svg"></md-icon>
          </md-button>
        </h1>
      </md-toolbar>

      <md-content flex style="width: 100%;">
        <md-tabs md-theme="amber" md-selected="selectedTabIndex">
          <md-tab label="{{tab.name}}" ng-repeat="tab in tabs">
            <div tabbed-file
                tab="tab"
                close="tabs.splice($index, 1)">
            </div>
          </md-tab>
        </md-tabs>
      </md-content> 

      <script type="text/ng-template" id="tabbed-file.html">
        <div>
          <div class="md-whiteframe-z2"
              layout="column" layout-align="center center"
              style="position: fixed; right: 0px; margin: 10px; background: #f4f4f4;">
            <div toolbar-button click="tab.monospace = !tab.monospace">font</div>
            <div toolbar-button click="tab.wrap = !tab.wrap">wrap</div>
            <div toolbar-button click="reload()">reload</div>
            <div toolbar-button click="save()" active="content != savedContent">save</div>
            <div toolbar-button click="close()">close</div>
          </div>
          <div layout="column">
            <div ng-show="error">Error.</div>
            <div ng-show="!loaded && !error">Loading...</div>
            <div ng-show="loaded && !error">
              <textarea ng-class="{monospace: tab.monospace, wrap: tab.wrap}"
                  style="width: 100%; height: 100%; line-height: 14px; border-width: 0px;"
                  ng-model="content">
              </textarea>
          </div>
        </div>
      </script>

      <script type="text/ng-template" id="toolbar-button.html">
        <div style="padding: 5px; cursor: pointer;">
          <md-button
              ng-click="click()"
              ng-disabled="!active && active!==undefined">
            <span ng-transclude></span>
          </md-button>
        </div>
      </script>

    </div>
  </body>
</html>

